h1{
  color:blue;
  text-align:center;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
img{
  height: 200px;
  width: 200px;
  box-shadow:2px 2px 5px;
}
body{
  background-color:rgb(155,255,255);
}